[build-system]
requires = [
  "setuptools >= 40.9.0",
  "wheel",
]
build-backend = "setuptools.build_meta"

[tool.ruff]
line-length = 79
target-version = "py38"

[tool.ruff.lint]
select = [
	"E",  # flake8
	"F",  # pyflakes
	"T20",  # flake8-print
	"I",   # isort
	"RUF",  # Ruff-specific
]
